
DJANGO_DATABASE_URL=
DJANGO_DEBUG=
DJANGO_SETTINGS_MODULE=encryption_app.settings.production
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS=.example.com
DJANGO_STATIC_ROOT=/path
DJANGO_MEDIA_ROOT=/path
DJANGO_ADMINS=
CELERY_BROKER_URL=
